.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.form{
  display: flex;
  flex-direction: column;
}

input{
  height: 30px;
  width: 200px;
  margin-bottom: 15px;
}

.buttons{
  display: flex;
  gap: 5px
}

.oper{
  height: 30px;
  background-color: #f5f3f3;
  border: 1px solid #888888;
  border-radius: 3px;
}
.oper:hover {
  cursor: pointer;
}

.reset{
  color: white;
  background-color: orangered;
  border: 1px solid #888888;
  border-radius: 3px;
}
.reset:hover {
  cursor: pointer;
}